.card {
    max-width: 400px;
    width: 100%;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: black;
    text-decoration: none;
    position: relative;
    overflow: visible;
    background-color: white;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.top {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-title {
    font-size: 2.5em;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    gap: 8px;
    z-index: 10;
    margin-top: -15px;
}

.filler {
    width: 3.25em;
}

.summary {
    margin-top: auto;
    margin-bottom: auto;
}

.read-button {
    border: none;
    background-color: rgb(241, 243, 245);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.action-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    display: flex;
    gap: 15px;
    z-index: 10;
}

.circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
}

.delete-btn {
    background-color: #F2A8AF;
}

.edit-btn {
    background-color: #D8C9E2;
}