.page-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.main-page-recommanded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 30px;
}
