.page-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.main-page-recommanded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.recent-releases{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.recent-releases h1 {
    padding-bottom: 20px;
    align-self: flex-start;
    font-size: 50px;
}

.carousel-window {
    width: 80%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.carousel-track.smooth-scroll {
    display: flex;
    width: max-content;
    animation: scroll 80s linear infinite; 
}

.carousel-track:hover {
    animation-play-state: paused; 
}

.carousel-item {
    padding: 0 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {

        transform: translateX(-50%);
    }
}