.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main-page-recommanded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.recent-releases{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
}

.recent-releases h1 {
    padding-bottom: 20px;
    align-self: flex-start;
    font-size: 50px;
}

.carousel-window {
    width: 80%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.carousel-track.smooth-scroll {
    display: flex;
    width: max-content;
    animation: scroll 80s linear infinite; 
}

.carousel-track:hover {
    animation-play-state: paused; 
}

.carousel-item {
    padding: 0 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {

        transform: translateX(-50%);
    }
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.genre-row-container {
    margin-bottom: 50px;
    width: 80%;
}

.genre-row-title {
    font-size: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
    border-left: 4px solid #333;
    text-transform: capitalize;
}

.genre-flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.flex-card-wrapper {
    flex: 0 0 calc((100% / 3) - 14px); 
    box-sizing: border-box;
}

.hr-genre-row{
    margin-top: 100px;
}
