.nav {
    width: 100%;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    background-color: white;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

