.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-button-swap {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    background-color: #f3fdff;
    border: none;
    position: relative;
    width: fit-content;
}

.profile-btn {
    background-color: #f3fdff;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #666;
    transition: color 0.3s ease;
}

.profile-btn.active {
    color: #000;
    font-weight: 500px; 
}

.sliding-underline {
    position: absolute;
    bottom: -2px; 
    height: 3px;
    background-color: #000; 
    width: 100px; 
    height: 2px;
    transition: transform 0.3s ease-in-out;
}

.sliding-underline.userStories {
    transform: translateX(5px);
    width: 120px; 
}

.sliding-underline.favorites {
    transform: translateX(170px); 
    width: 100px; 
}

.floating-edit-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: #979b9c;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 1000; 
}